
<div class="image fit"><img src="{{selectImage(item.data.icon_img) }}" alt="" /></div>
<div class="inner">
    <h3>{{item.data.header_title}}</h3>
    <p class="text-left">{{ toHTML(item.data.submit_text) | textPipe}}</p>
    <button class="button fit" (click)="showDetails(item)">Watch</button>
</div>

