.standar-font{
    font-size: 15px !important;   
}

.container-buttons{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.box:hover{
    box-shadow: 0 4px 8px 0 rgba(168, 168, 168, 0.548), 0 6px 20px 0 rgba(165, 165, 165, 0.19);
}

.button-menu{
    display: inline-block;
    margin: 15px;
    width: 150px;
    background-color: orange;
}

.buttonSelected{
    background: white;
    color: orange !important;
}