<div class="container-buttons" >    
  <button class="button-menu"
  [ngClass]="{'buttonSelected' :currentCagory == category}"  *ngFor="let category of listCategories; let j = index " (click)='filterElementesByName(category)'>{{category}}</button>
</div>


<div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search by title"  (input)="changeText($event)" aria-describedby="basic-addon2">  
      <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>  
    </div>
</div>


<div id="main">
  <div class="inner">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="thumbnails" [@showAnimation]='stateAnimation'>
          <div class="box" id="card{{i}}" *ngFor="let item of listFilterElementes; let i = index ">                    
            <app-simple-item  (clickDetails)="selectedCurrentItem($event,i)" [item]=item ></app-simple-item>                  
          </div>
        </div>
    </div>
  </div>
</div>

