<section id="banner" data-video="images/banner">
    <div class="inner">
        <header>
            <h1>Merlin App</h1>
            <p>This app is a test, the page was build in <a href="https://angular.io">Anguar JS</a> you can read the docummentation.</p>
        </header>
        <a href="#main" class="more">Learn More</a>
    </div>
</section>

<router-outlet id="router-app"></router-outlet>	
