.img-standar{
    border-radius: 8px;
    width: 100%;
}

.background-transparent{
    background: transparent;
}

.padding-item{
    padding: 5%;
}

p{
    overflow-wrap: break-word
}
.img-header{
    width: 100%;
    height: auto;
    object-fit: contain;
}

#no-item{
    padding: 20px;
    margin: auto;
    margin-top: 30px;
}

.h2-title{
    font-size: 35px;
    margin-top: 8px;
    margin-bottom: 0px;
    color:white;
}

#detail-container{
    margin-top: 10px;
}
.line-separator{
    width: 100%;
    height: 1px;
    background: #C3C3C2;
}