
<div *ngIf="item!=undefined" id="detail-container" class="col-xs-12 col-md-10 col-md-offset-1">
  <img class="img-standar" src="{{item.data.banner_img}}" alt="">
    <div class="panel panel-default background-transparent">
      <div class="panel-heading background-transparent">
        <div class="row">
            <div class="col-xs-2">
                <img src="{{selectImage(item.data.header_img)}}" class="img-header" alt="">
            </div>
            <div class="col-xs-10">
              <h2 class="h2-title">{{item.data.header_title}}</h2>
            </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-md-4">
              <img src="{{selectImage(item.data.icon_img)}}" class="img-standar" alt="">
          </div>
          <div class="col-xs-12 col-sm-8 col-md-8">
              <h2>{{item.data.title}}</h2>
              <p class="">{{toHTML(item.data.submit_text)}}</p>
          </div>
          <div class="col-xs-12 line-separator"></div>
          <div class="col-xs-12 padding-item" [innerHTML]="toHTML(item.data.description_html)"></div>
        </div>
      </div>
    <div class="panel-footer background-transparent">{{item.data.advertiser_category}}</div>
  </div>
</div>

<div id="no-item" *ngIf="item==undefined"><h2 >This item not Fount</h2></div>
